[Unit]
Description=A rule based proxy tunnel
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bypass-proxy /usr/local/bin/clash -d /usr/local/etc/clash
ExecStartPost=+/usr/local/lib/clash/setup-tun.sh
ExecStopPost=+/usr/local/lib/clash/clean-tun.sh

[Install]
WantedBy=multi-user.target
