[Unit]
Description=A rule based proxy tunnel
After=network-online.target

[Service]
Type=simple
ExecStartPre=+/usr/local/lib/clash/setup-cgroup.sh
ExecStart=/usr/local/bin/bypass-proxy /usr/local/bin/clash -d /usr/local/etc/clash

[Install]
WantedBy=multi-user.target
